<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IMPEKABLE Gestão Financeira</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- lembra de colocar na pasta do bootstrap!! -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../Template/css/styleM.css">
    <link rel="stylesheet" href="../Template/Dashboard/css/perfil.css">
    <link rel="stylesheet" href="../Template/Dashboard/css/sb-admin-2.min.css">


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url('/home') }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-address-card"></i>
                </div>
                <div class="sidebar-brand-text mx-3">IMPEKABLE</div>
            </a>
        </ul>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie luna</span>
                                <img class="img-profile rounded-circle"
                                    src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" data-toggle="modal" data-target="#editar-perfil" href="">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4 perfil">
                        <h1 class=" h2 mb-0 text-gray-800">Perfil</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Row -->

                        <div class="row">

                            <!-- Card Body -->

                            <div class="card shadow ml-4">
                                <div class="card-header bg-info text-white d-flex justify-content-between">
                                    <span>
                                        Perfil
                                    </span>
                                </div>
                                <div class="card-body">

                                    <!-- Modal -->
                                    <div class="modal fade" id="editar-perfil" tabindex="-1" role="dialog"
                                        aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modal-perfil">Perfil</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Fechar">
                                                        <span aria-hidden="true"><i
                                                                class="fas fa-times-circle"></i></span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="nome">Nome</label><input
                                                                        class="form-control" type="text" name="inp_name"
                                                                        placeholder="Nome" disabled>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">

                                                                <div class="form-group">
                                                                    <label for="email">Email</label><input
                                                                        class="form-control" type="text"
                                                                        name="inp_email" placeholder="Email" disabled>
                                                                </div>

                                                            </div>

                                                            <div class="col-md-6">

                                                                <div class="form-group">
                                                                    <label for="cpf">CPF</label><input
                                                                        class="form-control" type="text" nome="inp_cpf"
                                                                        placeholder="CPF" disabled>
                                                                </div>
                                                            </div>


                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="rg">RG</label><input
                                                                        class="form-control" type="text" nome="inp_rg"
                                                                        placeholder="RG" disabled>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-9">
                                                                <div class="form-group">
                                                                    <label for="endereco">Endereço</label><input
                                                                        class="form-control" type="text"
                                                                        name="inp_endereco" placeholder="Endereço" disabled>
                                                                </div>
                                                            </div>


                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label for="numero-casa">Data de nascimento
                                                                    </label><input class="form-control" type="date"
                                                                        name="inp_dataNas" disabled>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="bairro">Bairro</label><input
                                                                        class="form-control" type="text"
                                                                        name="inp_bairro" placeholder="bairro" disabled>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="cidade">Cidade</label><input
                                                                        class="form-control" type="text"
                                                                        placeholder="Cidade" disabled>
                                                                </div>
                                                            </div>


                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <label for="numero">Numero</label><input
                                                                        class="form-control" type="text"
                                                                        placeholder="N° casa" disabled>
                                                                </div>
                                                            </div>


                                                        </div>


                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" id="btn-editar">
                                                        <i class="fas fa-user-edit"></i>
                                                        Editar perfil
                                                    </button>

                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                        <i class="fas fa-trash-alt"></i>
                                                        Cancelar as alterações
                                                    </button>

                                                    <button type="button" class="btn btn-success">
                                                        <i class="fas fa-save"></i>
                                                        Salvar as alterações
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>




    <!-- <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script> -->
    <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="../Template/Dashboard/js/perfil.js"></script>
    <script src="../node_modules/popper.js/dist/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>

</body>

</html>
